* {
  margin: 0;
  padding: 0;
}
.show {
  display: block;
}
.header {
  display: flex;
  height: 1.1rem;
  margin: 0 0.2rem;
  justify-content: center;
}
.header .left {
  width: 1.4rem;
  margin-top: 0.25rem;
  height: 0.7rem;
  line-height: 0.7rem;
}
.header .left .location {
  margin-right: 0.1rem;
  font-size: 0.45rem;
  color: #222;
}
.header .right {
  flex: 1;
}
.header .right .zySearch {
  display: flex;
  width: 100%;
  margin-top: 0.3rem;
  margin-left: auto;
  margin-right: auto;
}
.header .right .zySearch .search-img {
  background: url("../images/chicken.gif") no-repeat scroll left top transparent;
  display: block;
  height: 0.7rem;
  left: 39%;
  top: 0rem;
  margin-top: 0.3rem;
  margin-left: -0.75rem;
  position: absolute;
  width: 0.5rem;
}
.header .right .zySearch .search-input {
  color: #999;
  border: 1px solid #d0d0d0;
  height: 0.7rem;
  font-size: 0.3rem;
  line-height: 0.7rem;
  margin-right: 0.1rem;
  padding: 0 0.7rem;
  flex: 1;
}
.header .right .zySearch .search-btn {
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
  cursor: pointer;
  height: 0.7rem;
  line-height: 0.7rem;
  vertical-align: baseline !important;
  width: 1.2rem;
  font-size: 0.3rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 0;
  font-weight: normal;
  display: inline-block;
}
.header .right .zySearch .search-btn i {
  font-size: 0.5rem;
  color: #222;
}
.main {
  width: 100%;
  height: 1rem;
  margin-bottom: -3rem;
  bottom: 1.3rem;
  justify-content: center;
}
.main .history {
  margin: 0.2rem 0.2rem;
  width: cal(99.6%);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
}
.main .history .item {
  flex: 0 0 auto;
  margin: 10px;
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
  background: #FFF4F8;
}
.main .history .clear,
.main .history i {
  font-size: 0.35rem;
  margin-left: 0.05rem;
}
.main .slider {
  margin: 0.2rem 0.2rem;
  height: 3.5rem;
  width: cal(99.6%);
}
.main .slider img {
  width: 100%;
  height: 100%;
}
.main .content {
  width: 100%;
  height: 1rem;
}
.main .content p {
  margin: 0.2rem 0.2rem;
  display: block;
  font-size: 0.4rem;
  font-weight: bold;
}
.main .content .content-line1 {
  margin: 0.2rem 0.2rem;
  width: cal(99.6%);
  display: flex;
  flex-direction: row;
}
.main .content .content-line1 div {
  flex: 1;
  font-size: 1rem;
  text-align: center;
  margin: 0.2rem 0.2rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  border-radius: 50%;
}
.main .content .content-line1 div:first-child {
  color: #379FFE;
}
.main .content .content-line1 div:nth-child(2) {
  color: #FC557B;
}
.main .content .content-line1 div:nth-child(3) {
  color: #FCB825;
}
.main .content .content-line1 div:nth-child(4) {
  color: #23BF5E;
}
.main .content .content-line1 div:nth-child(5) {
  color: #D08BFF;
}
.main .content .c-l-title {
  margin: 0.2rem 0.2rem;
  width: cal(99.6%);
  display: flex;
  flex-direction: row;
}
.main .content .c-l-title div {
  flex: 1;
  margin: 0rem 0.2rem;
  text-align: center;
  color: #666;
  font-size: 0.4rem;
}
.main .content .content-line2 {
  width: cal(99.6%);
  margin: 0.2rem 0.2rem;
  height: 1rem;
  background: #FEF9F5;
  border-radius: 0.2rem;
}
.main .content .content-line2 span {
  color: #FE6206;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  line-height: 1rem;
  margin-left: 0.2rem;
  text-align: center;
  font-size: 0.4rem;
}
.main .content .content-line2 span:first-child {
  font-size: 0.6rem;
}
.main .content .content-line2 span:nth-child(3) {
  color: #fff;
  font-size: 0.3rem;
  background: #FE6206;
}
.main .content .content-line2 span:last-child {
  display: block;
  float: right;
  margin-right: 0.3rem;
}
.main .content .content-line3 {
  width: cal(99.6%);
  display: flex;
  margin-top: 0.7rem;
  margin: 0.5rem 0.2rem;
  height: 2.5rem;
  background: #89C0FF;
  border-radius: 0.2rem;
}
.main .content .content-line3 .line3-img {
  flex: 2;
}
.main .content .content-line3 .line3-img img {
  width: 2.2rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  border-radius: 0.1rem;
  margin-top: -0.3rem;
}
.main .content .content-line3 .line3-content {
  flex: 3;
}
.main .content .content-line3 .line3-content p {
  color: #fff;
}
.main .content .content-line3 .line3-content p:first-child {
  font-size: 0.5rem;
}
.main .content .content-line3 .line3-content p:nth-child(2) {
  font-weight: normal;
}
.main .content .content-line3 .line3-content span {
  color: #89C0FF;
  font-weight: normal;
  background: #fff;
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
  margin: 0 0.5rem;
}
.main .content .content-line4 {
  width: cal(99.6%);
  display: flex;
  margin-top: 0.7rem;
  margin: 0.5rem 0.2rem;
  height: 2.9rem;
  background: #FEF9F5;
  border-radius: 0.2rem;
}
.main .content .content-line4 .line4-img {
  flex: 1;
}
.main .content .content-line4 .line4-img img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.1rem;
  padding: 0.2rem 0.2rem;
}
.main .content .content-line4 .line4-content {
  flex: 3;
}
.main .content .content-line4 .line4-content p {
  color: #222;
}
.main .content .content-line4 .line4-content p:first-child {
  font-size: 0.4rem;
  line-height: 0.6rem;
}
.main .content .content-line4 .line4-content p:first-child span {
  font-size: 0.35rem;
  line-height: 0.6rem;
  text-align: center;
  float: right;
  color: orange;
}
.main .content .content-line4 .line4-content p:nth-child(2) {
  font-weight: normal;
}
.main .content .content-line4 .line4-content p:nth-child(2) span {
  font-size: 0.3rem;
  margin-right: 0.2rem;
}
.main .content .content-line4 .line4-content .classInfo {
  font-weight: normal;
}
.main .content .content-line4 .line4-content .classInfo span {
  font-size: 0.3rem;
  margin-right: 0.2rem;
}
.main .content .loading {
  width: cal(99.6%);
  margin: 0.2rem 0.2rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  background: #f0dcd5;
}
.footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 1.3rem;
  display: flex;
  border-top: 0.02rem solid #ccc;
}
.footer a {
  color: #222;
  display: block;
  width: 20%;
  font-size: 0.5rem;
  line-height: 0.6rem;
  text-align: center;
}
.footer a div {
  flex: 1;
  font-size: 0.4rem;
}
.footer a div i {
  font-size: 0.5rem;
  margin-right: 0.1rem;
}
.footer a div span {
  display: block;
  font-size: 0.4rem;
}
